* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background-color: rgb(1, 143, 143);
}

.slider__wrapper {
    height: 650px;
    margin: 100px auto 0;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 600px;
}

.slider {
    background-color: rgb(0, 163, 163);
    height: inherit;
    overflow: hidden;
    position: relative;
    width: 100%;
    border-radius: 7px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .5);
}

.slider img {
    width: 31.25rem;
    height: 31.25rem;
    border-radius: 0.4375rem;
    box-shadow: 0 0 1.25rem rgba(0, 0, 0, .5);
    margin: 0 auto 0;
}

.slides {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.description {
    height: 1.125rem;
    font-size: 1rem;
    overflow: hidden;
    margin-left: 3.125rem;
    margin-top: -3.125rem;
    z-index: 2;
}

.description p {
    line-height: 1.125rem;
}

.slider__wrapper>input {
    display: none;
}



.controls {
    display: flex;
    justify-content: flex-end;
    align-content: start;
    margin-right: 3.125rem;
    margin-top: -3.125rem;
    z-index: 1;
}

.controls label:after {
    border: 1px solid rgb(0, 68, 68);
    content: "";
    position: absolute;
    height: 10px;
    width: 10px;
    left: -2px;
    top: -2px;
    border-radius: 50%;
}

.controls label {
    cursor: pointer;
    width: 8px;
    height: 8px;
    margin: 0 5px 0 5px;
    position: relative;
    border-radius: 50%;
    transition: background ease-in-out .5s;
}

.controls :hover,
#slide1:checked~.controls label:nth-of-type(1),
#slide2:checked~.controls label:nth-of-type(2),
#slide3:checked~.controls label:nth-of-type(3),
#slide4:checked~.controls label:nth-of-type(4) {
    background: rgb(242, 245, 245);
}

.controls :active,
#slide1:checked~.controls label:nth-of-type(1),
#slide2:checked~.controls label:nth-of-type(2),
#slide3:checked~.controls label:nth-of-type(3),
#slide4:checked~.controls label:nth-of-type(4) {
    background: rgb(1, 75, 75);
}

.slides {
    height: inherit;
    opacity: 0;
    position: absolute;
    width: inherit;
    z-index: 0;
    transform: scale(1.2);
    transition: transform ease-in-out 1s, opacity ease-in-out .5s;
}

#slide1:checked~.slider>.slide1,
#slide2:checked~.slider>.slide2,
#slide3:checked~.slider>.slide3,
#slide4:checked~.slider>.slide4 {
    opacity: 1;
    transform: scale(1);
}

#slide1:checked~.description>.describe:nth-child(1) {
    opacity: 1;
    transition: ease-in .7s;
    transform: translateY(0px);
}

#slide2:checked~.description>.describe:nth-child(1) {
    opacity: 1;
    transition: ease-in .7s;
    transform: translateY(-1.125rem);
}

#slide2:checked~.description>.describe:nth-child(2) {
    opacity: 1;
    transition: ease-in .7s;
    transform: translateY(-1.125rem);
}

#slide3:checked~.description>.describe:nth-child(1) {
    opacity: 1;
    transition: ease-in .7s;
    transform: translateY(-2.25rem);
}

#slide3:checked~.description>.describe:nth-child(2) {
    opacity: 1;
    transition: ease-in .7s;
    transform: translateY(-2.25rem);
}

#slide3:checked~.description>.describe:nth-child(3) {
    opacity: 1;
    transition: ease-in .7s;
    transform: translateY(-2.25rem);
}

#slide4:checked~.description>.describe:nth-child(1) {
    opacity: 1;
    transition: ease-in .7s;
    transform: translateY(-3.375rem);
}

#slide4:checked~.description>.describe:nth-child(2) {
    opacity: 1;
    transition: ease-in .7s;
    transform: translateY(-3.375rem);
}

#slide4:checked~.description>.describe:nth-child(3) {
    opacity: 1;
    transition: ease-in .7s;
    transform: translateY(-3.375rem);
}

#slide4:checked~.description>.describe:nth-child(4) {
    opacity: 1;
    transition: ease-in .7s;
    transform: translateY(-3.375rem);
}